.hero {
    max-width: 1600px;
    min-height: 600px;
    margin: 0 auto;
    padding: 200px 0;

    text-align: center;

    background-color: var(--hero-bgc);
    background-image: linear-gradient(var(--overlay-color), var(--overlay-color)),
        url(../images/background-img/Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    @include fonts (900, 44px, 1.35, center);

    margin: 0 auto 30px;
    width: 696px;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);
}

.hero__btn {
    @include fonts (700, 16px, 1.8, center);
    padding: 10px 32px;
    border-radius: 4px;
    border: none;

    font-family: inherit;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--white-color);
    background-color: var(--hyper-link-color);
    transition: background-color var(--transition-time) var(--transition-cubic),
        box-shadow var(--transition-time) var(--transition-cubic);

    &:hover,
    &:focus {
        background-color: var(--active-btn);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &:active {
        background-color: var(--active-btn);
    }
}